.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  color: white;
  width: 30px;
  border-radius: 20px;
  background-color: rgba(37, 37, 37, 0.3);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px;
}

.alice-carousel__dots {
  display: none;
}